<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Drone Spider - Misiones</title>
  <!-- Incluye Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles.css">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/">Drone Spider</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">
                    <i class="bi bi-house-door"></i> Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/missions">
                    <i class="bi bi-list"></i> Misiones
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/3dModel">
                    <i class="bi bi-box"></i> 3D Model
                </a>
            </li>
        </ul>
    </div>
  </nav>

  <div class="container mt-5">
    <h1>Mission Information</h1>

    <div class="container mt-4">
      <h2>Drone Data</h2>
      <div id="droneDataContainer" class="row mb-4"></div>
      <button id="loadMoreDrones" class="btn btn-primary">Load More Drones</button>
    </div>
    
    <!-- Model Section -->
    <div class="container mt-4">
      <h2>Mission Model</h2>
      <div id="missionModelContainer" class="row mb-4"></div>
      <button id="loadMoreModels"  class="btn btn-primary">Load More Models</button>
    </div>

  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="/js/missions.js"></script>

</body>

</html>
