body {
  background-color: #000;
  color: #fff;
}

.navbar {
  background-color: #333;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
}

.page-container {
  flex: 0 0 98%; 
  margin: 5px;
}
.scroll-container {
  overflow-x: auto;
  max-width: 100%; 
}